@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Nunito:wght@300;400;600;700;800;900&family=Russo+One&family=Spartan:wght@700;800;900&display=swap");

.texts-justify {
  text-align: justify;
}

.navbar {
  position: fixed;
  top: 50%; /* Vertically centers the navbar */
  right: 0; /* Positions it on the left side */
  transform: translateY(-50%); /* Offsets by 50% to fully center */
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  gap: 20px;
  padding: 10px;
  background-color: Semi-transparent;
  border-radius: 0 8px 8px 0;
  z-index: 1000;
}
.sidebar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20%;
  color: #1788ae;
  font-size: 1.5rem;
  transition: transform 0.2s, background-color 0.3s;
}

.sidebar-icon:hover {
  transform: scale(1.1);
  background-color: #f2f2f2;
}

.main {
  padding-right: 10px;
  padding: 2rem 2rem;
}

@media (max-width: 700px) {
  .main {
    padding: 0.5rem 1rem;
  }
}

.left-side,
.right-side {
  flex: 1 1 50%; /* Flex-basis at 50% for equal width */
  padding: 1rem;
}

.my-pic {
  border-radius: 50%;
  box-shadow: 0 4px 1px 1px whitesmoke;
  height: 350px;
  width: 350px;
  margin: 60px 60px;
  padding: 1rem;
}

@media (max-width: 780px) {
  .my-pic {
    box-shadow: 0 4px 1px 1px #1788ae;
    height: 300px;
    width: 300px;
    margin: 0px;
    padding: 1rem;
  }
}

@media (max-width: 500px) {
  #cal-pic {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 500px) {
  .texts-justify {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .smartcalc {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .my-pic {
    height: 250px;
    width: 250px;
    margin: 0px;
  }
}

@media (max-width: 640px) {
  .nav-link {
    font-size: 10px;
    padding: 0;
    margin: 4px;
  }
}

.my-name {
  font-size: 24px;
}

.animated-title-wrapper {
  height: 40px; /* Fixed height for normal screens */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Adjust for smaller screens */
@media (max-width: 640px) {
  .animated-title-wrapper {
    height: 30px;
    padding-bottom: 5px; /* Adjusted height for smaller screens */
  }
  #animated-title {
    font-size: 1rem; /* Reduce font size for smaller screens */
  }
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
